<header class="header" id="header">
	<div class="header__container">
		<h1 class="header__title">Cristian <span>Reyes</span></h1>
		<nav>
			<ul class="header__navbar header__navbar--disabled" id="headerNavbar">
				<li class="header__navbar-item header__navbar-item--active">
					<a href="#homeSection">Home</a>
				</li>
				<li class="header__navbar-item">
					<a href="#skillsSection">Skills</a>
				</li>
				<li class="header__navbar-item">
					<a href="#projectsSection">Projects</a>
				</li>
			</ul>
		</nav>
		<div class="responsive-menu">
			<svg class="responsive-menu__item" id="responsiveMenuOpen" viewBox="0 0 512 512"
				xmlns="http://www.w3.org/2000/svg">
				<g data-name="1" id="_1">
					<path d="M441.13,166.52h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z" />
					<path d="M441.13,279.72h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z" />
					<path d="M441.13,392.92h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z" />
				</g>
			</svg>
			<svg class="responsive-menu__item responsive-menu__item--disabled" id="responsiveMenuClose" stroke-linecap="round"
				stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<line x1="18" x2="6" y1="6" y2="18" />
				<line x1="6" x2="18" y1="6" y2="18" />
			</svg>
		</div>
	</div>
</header>
