<section class="projects__card--front">
	<header class="projects__card-header">
		<h3 class="projects__card-title">ToDo <span>App</span></h3>
		<img
			src="https://opengraph.githubassets.com/f9897e726fadadfcac13add264677523de6e796584373c92080b48671c7b16ba/CReies/TodoList"
			alt="Descriptive image of the project's github repository, shows the stars, issues, forks and contributors" />
	</header>
	<main>
		<p>
			This is a web page that consumes my ToDo API, developed on
			React with Typescript, and using also Redux
		</p>
	</main>
</section>
