.home {
	margin-inline: auto;
	max-width: 69rem;
	margin-block: 6.9rem;
	scroll-margin-top: 5rem;
}

.home__title {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.home__title span {
	color: var(--primary-color);
}

.home__description p {
	font-size: 1.1rem;
	margin-bottom: 1rem;
	line-height: 1.3;
}

.home__description p span {
	color: var(--secondary-color);
}