<section id="homeSection" class="home">
	<h2 class="home__title">Welcome to my <span>Portfolio</span></h2>
	<div class="home__description">
		<p>
			I'm a fullstack web developer with experience in different
			technologies, both Front and Back, in FrontEnd I've experience in
			the most popular JS frameworks, <span>Vue</span>,
			<span>React</span> and <span>Angular</span>; in the Backend, I've
			experience on different languages and frameworks,
			<span>Node</span> with <span>Express</span>, <span>Java</span> with
			<span>SpringBoot</span> and <span>C#</span> with <span>.NET</span>,
			in terms of databases I've worked with <span>MySQL</span>,
			<span>PostgreSQL</span>, <span>SQL Server</span> and
			<span>MongoDB</span>.
		</p>
		<p>
			I also have qualities like <span>team work</span>,
			<span>empathy</span>, <span>fast learning</span> and
			<span>passion for my work</span>
		</p>
	</div>
</section>
