@import url(./normalize.css);

:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	--primary-color: #1bc357;
	--tertiary-color: #dbfde7;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--background-color);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 5px;
}

* {
	color: var(--color-scheme-1);
}

body.light {
	--background-color: #f5f5f5;
	--secondary-color: #136832;

	--color-scheme-1: #000;
	--color-scheme-2: #dbfde7;
	backdrop-filter: none;
}

body.dark {
	--background-color: #282c34;
	--secondary-color: #82f3aa;

	--color-scheme-1: #fff;
	--color-scheme-2: #0b4f23;
	backdrop-filter: brightness(50%);
}

body {
	background-color: var(--background-color);
	min-height: 100vh;
	background-image: url(../images/svg/Background.svg);
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f5f5f5;
		--secondary-color: #136832;

		--color-scheme-1: #000;
		--color-scheme-2: #dbfde7;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #282c34;
		--secondary-color: #82f3aa;

		--color-scheme-1: #fff;
		--color-scheme-2: #0b4f23;
	}

	body {
		backdrop-filter: brightness(50%);
	}
}
