<section class="projects__card--front">
	<header class="projects__card-header">
		<h3 class="projects__card-title">ToDo <span>API</span></h3>
		<img
			src="https://opengraph.githubassets.com/77292d07699a441fc6e075126e653afe0f84f98454cb6e40b29681fe23530426/CReies/TodoAPI"
			alt="Descriptive image of the project's github repository, shows the stars, issues, forks and contributors" />
	</header>
	<main>
		<p>
			This is an REST API for a ToDo app, developed on NodeJS
			using Typescript and mongoose to do the connection with the
			database on MongoDB
		</p>
	</main>
</section>
