<section class="projects__card--front">
	<header class="projects__card-header">
		<h3 class="projects__card-title">Simple <span>CRUD</span></h3>
		<img
			src="https://opengraph.githubassets.com/53185f37b9432bb6689f7fffd2a1bb95e7d1428fc486d2da211a8cef761a1dce/CReies/Simple-CRUD"
			alt="Descriptive image of the project's github repository, shows the stars, issues, forks and contributors" />
	</header>
	<main>
		<p>
			This is a simple CRUD, the frontend is very basic with
			vanilla js, the backend is made with SpringBoot and the
			database is MySQL.
		</p>
	</main>
</section>
